{% extends "base.html" %}

{% block title %}Travel{% endblock %}

{% block content %}
<div class="info-section">
    <h2>Cool Locations I've Visited</h2>
    <div class="location-items">
        <ul>
            <li>Paris, France</li>
            <li>Tokyo, Japan</li>
            <li>New York, USA</li>
        </ul>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4983.382188821465!2d2.2919063761197274!3d48.858373600708155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEiffel%20Tower!5e1!3m2!1sen!2sie!4v1750428249916!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}
